*.jks

# Build outputs
/build/
.android/
.ios/
windows/
macos/
linux/
web/
!windows/.gitkeep
!macos/.gitkeep
!linux/.gitkeep
!web/.gitkeep

# Android Studio build artifacts
/android/app/debug/
/android/app/profile/
/android/app/release/

# Flutter related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
**/doc/api/
**/generated_plugin_registrant.dart

# Firebase and Google services
lib/firebase_options.dart
firebase.json
google-services.json

# IntelliJ related
.idea/
*.iml

# Visual Studio Code related
.vscode/

# Miscellaneous
*.class
*.lock
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# Coverage
coverage/

# Symbols
app.*.symbols
app.*.map.json

# Android specific
.gradle/
**/android/**/gradle-wrapper.jar
**/android/captures/
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
local.properties
**/.cxx/
.android/app/.cxx/

# iOS/Xcode specific
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/DerivedData/
**/ios/**/Pods/
**/ios/**/xcuserdata
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# Exceptions (allow)
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
!/dev/ci/**/Gemfile.lock
!.vscode/settings.json

# Monorepo tools
.cipd
.gclient
.gclient_entries
.python-version
.gclient_previous_custom_vars
.gclient_previous_sync_commits
