<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
        android:name="${applicationName}"
        android:enableOnBackInvokedCallback="true"
        android:label="Marul Tarlası"
        android:icon="@mipmap/ic_launcher">

        <!-- Ana aktivite -->
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize"
            android:launchMode="singleTask"
            android:theme="@style/LaunchTheme"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.client_id"
            android:value="130108591582-lb0ubjlbhpcq53smm17p2b4bbecgr3fl.apps.googleusercontent.com" />

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

    </application>

    <!-- Gerekli aktiviteleri sorgulama -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>
</manifest>
